:root{
    --clara: none;
    --escura: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
}
header{
    text-align: center;
    background-image: linear-gradient(to right, var(--clara), var(--escura));
    color: #edf2f4;
    padding: 20px;
}
h1{
    font-size: 2.5em;
}
main{
    display: flex;
    justify-content: space-between;
}
main section:last-child{
    width: 250px;
}
section{
    background-color: #fff;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #b1b1b15d;
    text-align: center;
    font-weight: bold;
}
article{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    box-sizing: border-box;
    padding: 0 20px;
    justify-content: center;
}
.letra{
    border: none;
    width: 100px;
    height: 100px;
    margin: 0 15px;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 6em;
}
input, label{
    display: block;
    font-size: 1em;
    background-color: inherit;
}
input[type="text"]{
    border: 2px solid var(--escura);
    padding: 10px;
    border-radius: 24px;
    text-align: center;
    width: 150px;
    transition: 0.5s;
    margin: 10px auto;
}
input[type="text"]:focus{
    width: 200px;
}
input[type="button"]{
    padding: 15px;
    border-radius: 24px;
    border: none;
    color: #edf2f4;
    background-color: var(--clara);
    margin:0 auto;
    transition: 0.5s;
}
input[type="button"]:hover{
    background-color: var(--escura);
}